.edit-wrapper {
  display: block;
  position: relative;
  margin-left: 82px;
}

.inlineTooltip {
  position: absolute;
  top: 0;
  margin-left: 68px;
  margin-top: 81px;
  padding: 0;
  width: 40px;
  height: 40px;
  z-index: 400;
  transition: visibility 0s linear 250ms,opacity .1s,width 0s linear 250ms;
  visibility: hidden;
  opacity: 0;
}

.inlineTooltip.is-active {
  transition: visibility 0s linear 0s,opacity .1s,width 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.inlineTooltip.is-scaled {
  width: 312px;
  transition-delay: 0;
}

.inlineTooltip-menu {
  display: inline-block;
  opacity: 0;
  padding-left: 22px;
}

.inlineTooltip.is-scaled .inlineTooltip-menu {
  opacity: 1;
}

.inlineTooltip-menu .button {
  margin-right: 9px;
}

.ql-editor .image-container .img-caption {
  margin-left: 50px;
  display: none;
}